#!/bin/sh
LABEL=$1

cat  << EOF

insmod nativedisk
insmod usbms
insmod ehci
insmod usb
insmod ahci
insmod part_gpt
insmod part_msdos
insmod fat
insmod gfxterm
search.fs_label ${LABEL} root
if [ -e /grub/grub.cfg ]; then
    set prefix=($root)/grub
    configfile /grub/grub.cfg
else
    echo "Could not find an example configuration file!"
fi

EOF
